services:
  reverse-proxy:
    container_name: reverse-proxy
    network_mode: host
    build:
      context: .
      dockerfile: Dockerfile.caddy
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

  db:
    container_name: datamonster-db
    build: 
      context: ./db
      dockerfile: Dockerfile
    environment:
      POSTGRES_PASSWORD: Password1
      POSTGRES_USER: app
      POSTGRES_DB: records
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: